<div class="task-content card">
  <img [attr.src]="selectedTask?.photo?.data" class="card-img-top" alt="">
  <div class="card-body">
    
    <h3 class="card-title">{{selectedTask?.title}} <span *ngIf="selectedTask?.status == statusType.Finished" class="badge badge-success">finished</span>
      <span *ngIf="selectedTask?.status == statusType.Started" class="badge badge-secondary">started</span>
      <span *ngIf="selectedTask?.status == statusType.Created" class="badge badge-secondary">not started</span></h3>

      <mat-form-field appearance="outline">
          <textarea #inputDescription matInput placeholder="Description..."
              maxlength="100" (change)="isChangesDetected=true" [formControl]="descriptionCtrl"></textarea>
          <mat-hint align="end"></mat-hint>
      </mat-form-field>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button *ngIf="selectedTask?.status == statusType.Created" (click)="startTask()" type="button" class="btn btn-secondary">Start</button>
      <button *ngIf="selectedTask?.status == statusType.Started" (click)="stopTask()" type="button" class="btn btn-secondary">Pause</button>
      <button *ngIf="selectedTask?.status != statusType.Finished" (click)="finishTask()" type="button" class="btn btn-secondary">Close</button>
      <button *ngIf="selectedTask?.status == statusType.Finished" (click)="replayTask()" type="button" class="btn btn-secondary">Re-open</button>
      <button [hidden]="!isChangesDetected" type="button" class="btn btn-outline-success" (click)="saveChanges()" >Save</button>
    </div>

    <map-element #customMapComponent [enableUserGeo]="false" [hidden]="!coordinates" style="width:100%; height:250px;" >
    </map-element>

    <button (click)="deleteTask()" class="btn btn-outline-danger btn-sm btn-block btn-delete-task">Delete Task</button>

  </div>
</div>