<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="baseInfoFormGroup">
        <form [formGroup]="baseInfoFormGroup">
            <ng-template matStepLabel>Fill out basic info</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input #inputTitle matInput placeholder="Title..." formControlName="titleCtrl" maxlength="20" required>
                <mat-hint align="end">{{inputTitle.value?.length || 0}}/20</mat-hint>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea #inputDescription matInput placeholder="Description..." formControlName="descriptionCtrl"
                    maxlength="100"></textarea>
                <mat-hint align="end">{{inputDescription.value?.length || 0}}/100</mat-hint>
            </mat-form-field>
            <br />
            <mat-checkbox formControlName="isTaskStartedCtrl">Start task after created</mat-checkbox>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Add photo</ng-template>

            
            <div ng2FileDrop 
                [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" 
                (fileOver)="fileOverAnother($event)"
                [uploader]="uploader" 
                class="well my-drop-zone">
                drop image
            </div>
            <div class="col-md-9" style="margin-bottom: 40px">     
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td *ngIf="uploader.options.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>    
            </div>


            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="mapFormGroup">
                <form [formGroup]="mapFormGroup">
                    <ng-template matStepLabel>Pin coordinates</ng-template>
                    <mat-card>
                        <mat-card-content>
                            <map-element #customMapComponent [enableUserGeo]="true" [preloadMap]="true"
                                (onMarkerLatitudeChanged)="setLatinude($event)" (onMarkerLongitudeChanged)="setLongitude($event)">
                            </map-element>
                        </mat-card-content>
                    </mat-card>
                    <br />
                    <table matSort>
                        <tr>
                            <th mat-sort-header="Latinude">Latinude</th>
                            <th mat-sort-header="Longitude">Longitude</th>
                        </tr>
                        <tr>
                            <td>{{lat?.toString()}}</td>
                            <td>{{lng?.toString()}}</td>
                        </tr>
                    </table>
                    <mat-checkbox formControlName="isLocationPinnedCtrl">Pin coordinates</mat-checkbox>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="onConfirm()">Submit</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>