<div class="sign-in-block-container">
  <div class="form-group sign-in-block">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="email" class="form-control"> <br />
      <input type="password" formControlName="password" placeholder="password" class="form-control"> <br />
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Submit</button>
    </form>
    <button class="btn btn-outline-primary btn-sm btn-block" (click)="loginFacebook()">Facebook</button>
    <button class="btn btn-outline-danger btn-sm btn-block" (click)="loginGoogle()">Google</button>
  </div>
</div>