<form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input  type="email" #inputEmail matInput placeholder="Email..." formControlName="emailCtrl" maxlength="20" minlength="6" required>
        <mat-hint align="end">{{inputEmail.value?.length || 0}}/20</mat-hint>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" #inputPassword matInput placeholder="Password..." formControlName="passwordCtrl" maxlength="20" minlength="6" required>
        <mat-hint align="end">{{inputPassword.value?.length || 0}}/20</mat-hint>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" #inputConfirmPassword matInput placeholder="Confirm Password..." formControlName="confirmPasswordCtrl" maxlength="20" minlength="6" required>
        <mat-hint align="end">{{inputConfirmPassword.value?.length || 0}}/20</mat-hint>
    </mat-form-field>
    <br />
    <button type="submit" [disabled]="!registrationFormGroup.valid" class="btn btn-primary">Create account</button>
</form>
