<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <p>{{subTitle}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-outline-success btn-sm btn-block">Confirm</button>
  <button  mat-button (click)="onCancelClick()" class="btn btn-outline-danger btn-sm btn-block">Cancel</button>
</div>
