<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="push" position="end">
    <div class="mx-auto">
      <tasks-task-info #TaskInfoComponent (changeStatusFired)="onChangeStatusFired($event)" (deleteTaskFired)="onDeleteStatusFired($event)" (saveChangesFired)="onSaveChangesFired($event)">        
      </tasks-task-info>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <tasks-taskslist #TasksListComponent [tasksList]="tasksSourceUI" (showMoreInfoSelected)="onSelectedTaskChanged($event)"></tasks-taskslist>
  </div>
</mat-drawer-container>