<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span appHighlight>To do list - create tasks and complete them</span>
        <span class="toolbar-spacer"></span>

        <mat-form-field >
          <input #Search matInput placeholder="search task...">
        </mat-form-field>

        <button matTooltip="create task" mat-icon-button aria-label="New task" (click)="createTaskSelected()">
          <mat-icon  svgIcon="note_add">new task</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="menu"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="tasksSelected()">
              <mat-icon svgIcon="book"></mat-icon>
              <span>My Tasks</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon svgIcon="person"></mat-icon>
              <span>Account</span>
            </button>
          </mat-menu>
          
        <div class="logout-control">
            <auth-logout (logOutResultObtained)="onLogOutResultObtained($event)"></auth-logout>
        </div>
    </mat-toolbar-row>
</mat-toolbar>