<div @slideInOut [@simpleFadeAnimation]="in" [@blinkValidateAnimation]="isValid ? 'valid' : 'invalid' "
    (@blinkValidateAnimation.done)="onAnimationEvent($event)">
    <div class="d-flex justify-content-center vertical-center text-center container">
        <auth-login class="login-block" (onAuthenticateResultObtained)="setLoggedUser($event)">
        </auth-login>
    </div>
</div>
<div class="fixed-bottom text-center">
    <span>don't have an account? </span>
        <button type="button" class="btn btn-link" (click)="navigateSignUp()">create one</button>   
</div>