.photo {
    width: 60px; 
    height: 60px;
}
.tasks-list {
    //max-width: 90%;
}

.task-finished{
    background-image: linear-gradient(to top, #1AC67E, #0AC2B7);
    opacity: 0.75;
}

.task-started{
    background-color: #F1F2F2
}

.task-notstarted{
    background-color: #FFFFFF
}

