<div class="accordion tasks-list mx-auto" id="accordionExample">

    <div *ngFor="let task of tasksList" class="card">
        <div [ngClass]="task.status ==  statusType.Finished ? 'card-header task-finished': task.status ==  statusType.Started ? 'card-header task-started' : 'card-header task-notstarted'  "
            [id]="'headingOne'+task.id">
            <h2 class="mb-0" @FadeInAnimation>
                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne'+task.id"
                    aria-expanded="true" [attr.aria-controls]="'collapseOne'+task.id">
                    {{ task.title | stringTrim:25 }}
                </button>
            </h2>
        </div>

        <div [id]="'collapseOne'+task.id" class="collapse in" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="media">
                    <img *ngIf="task.photo?.data != undefined" src="{{task.photo?.data}}" class="mr-3 photo" alt="">
                    <div class="media-body">
                        {{ task.description | stringTrim:75 }}<br />
                        <span *ngIf="task.status == statusType.Finished" class="badge badge-success">finished</span>
                        <span *ngIf="task.status == statusType.Started" class="badge badge-secondary">started</span>
                        <span *ngIf="task.status == statusType.Created" class="badge badge-secondary">not started</span>
                        <br />
                        <button type="button" [id]="task.id" class="btn btn-link" (click)="showMore($event)">show more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>