<div class="d-flex justify-content-center vertical-center text-center container">
    <auth-create-account (registrationResultObtained)="onRegistrationResultObtained($event)">
    </auth-create-account>
</div>
<div class="fixed-bottom text-center">
    <button type="button" class="btn btn-link" (click)="navigateLogin()">to the login page</button>
</div>